@page "/counter"
@rendermode InteractiveServer

@using AITrailblazer.net.Services

@inject SKHandler skHandler

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@response

@code {
    private string response;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override async Task OnInitializedAsync()
    {
        response = await skHandler.SKTestAsync("programming");

    }
}
